{% extends 'base.html' %}

{% block content %}

<h1>WELCOME TO QEMUL OLSHOP!!!</h1>

<p>{{Kata_Awal}}</p>

<h3>Nama: </h3>
<p>{{Nama}}<p>

<h3>Kelas: </h3>
<p>{{Kelas}}<p>

<h3>Kamu memiliki {{jumlah_jenis}} item dengan total {{jumlah_barang}} buah</h3>

<table>
    <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Description</th>
        <th>Add</th>
        <th>Sub</th>
        <th>Delete</th>
    </tr>

    {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}

    {% for item in items %}
        <tr>
            <td>{{item.name}}</td>
            <td>{{item.amount}}</td>
            <td>{{item.description}}</td>
            <td><a href = "{% url 'main:add_amount' item.id %}"> <button>+</button></a></td>
            <td><a href = "{% url 'main:sub_amount' item.id %}"> <button>-</button></a></td>
            <td><a href = "{% url 'main:delete_amount' item.id %}"> <button>X</button></a></td>
        </tr>
    {% endfor %}
</table>

<br />

<a href="{% url 'main:add_item' %}">
    <button>
        Add New Item
    </button>
</a>
<br>
<br>
<a href="{% url 'main:logout' %}">
    <button>
        Logout
    </button>
</a>
<h5>Sesi terakhir login: {{ last_login }}</h5>
{% endblock content %}
